<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <h1>Campaign [CAMPAIGN NAME] report</h1>
    <div>
      <h3>Overview</h3>
      <p>
        [4] completed tasks
      </p>
      <p>
        [1] ongoing tasks
      </p>
      <p>
        [0.8] valid / executed tasks
      </p>
    </div>

    <div>
      <h3>Tasks</h3>
      <ul>
        <li>Task 1: [RESULT]</li>
        <li>Task 2: [RESULT]</li>
        <li>Task 3: [RESULT]</li>
        <li>Task 4: [RESULT]</li>
        <li>Task 5</li>
      </ul>
    </div>
    <div>
      <h3>Top 10</h3>
      <ol>
        <li>[WORKER NAME]</li>
        <li>[WORKER NAME]</li>
        <li>[WORKER NAME]</li>
        <li>[WORKER NAME]</li>
        <li>[WORKER NAME]</li>
        <li>[WORKER NAME]</li>
        <li>[WORKER NAME]</li>
        <li>[WORKER NAME]</li>
        <li>[WORKER NAME]</li>
        <li>[WORKER NAME]</li>
      </ol>
    </div>
  </body>
  <style>
    div {
      border: solid 1px black;
      margin: 1rem 0;
      padding: 0.5rem;
    }
  </style>
</html>