<footer class="u-full-width">
  <div class="container">
    <ul id="footer-list">
        <li><a href="https://github.com/404">Source code</a></li>
        <li><p>Contact: developer@example.com</p></li>
    </ul>
  </div>
</footer>