<footer class="u-full-width">
  <div class="container">
    <ul id="footer-list">
    <!-- <div class="row"> -->
      <!-- <div class="columns two"> -->
          <li><a href="/about">About</a></li>
      <!-- </div> -->
      <!-- <div class="columns three"> -->
          <li><a href="https://github.com/404">Source code</a></li>
      <!-- </div> -->
      <!-- <div class="column two"></div> -->
          <li><p>Contact: developer@example.com</p></li>
      <!-- </div> -->
    <!-- </div> -->
    </ul>
  </div>
</footer>