doctype html
html
  head
    meta(name='viewport', content='width=device-width,initial-scale=1')
  body
    h1 Campaign [CAMPAIGN NAME] report
    h1 campaign id: #{campaignId}
    div
      h3 Overview
      p [4] completed tasks
      p [1] ongoing tasks
      p [0.8] valid / executed tasks
    div
      h3 Tasks
      ul
        li Task 1: [RESULT]
        li Task 2: [RESULT]
        li Task 3: [RESULT]
        li Task 4: [RESULT]
        li Task 5
    div
      h3 Top 10
      ol
        li [WORKER NAME]
        li [WORKER NAME]
        li [WORKER NAME]
        li [WORKER NAME]
        li [WORKER NAME]
        li [WORKER NAME]
        li [WORKER NAME]
        li [WORKER NAME]
        li [WORKER NAME]
        li [WORKER NAME]

    style.
      div {
        border: solid 1px black;
        margin: 1rem 0;
        padding: 0.5rem;
      }
