<!DOCTYPE html>
<html lang="en">
  {{> head}}
  <body>
    {{> header}}
    <div class="container" id="body">
      <h1>Campaigns</h1>
      <div class="row">
        <div class="columns twelve">
          <ul>
            {{#campaigns}}
            <li>
              <a class="button" href="/requester/report/{{id}}">
              {{name}}
            </a>
          </li>
          {{/campaigns}}
        </ul>
        </div>
      </div>
      <div class="row">
        <div class="column">
          <button class="button-primary" onclick="window.location = 'new-campaign'">Create campaign</button>
        </div>
      </div>
      <div class="row">
        <div class="column">
          <a class="button" href="logout">Logout</a>
        </div>
      </div>
  </div>
  {{> footer}}
  </body>
</html>