html
  head
    include metas
    include styles
    //- script(src='/javascripts/new-task.js')
  body
    .container
      h1 Create new campaign
      .row
        .column#new-task-box
            form
              h4 New task
              .row
                .column
                  label(for='new-task-title') Title
                  input(id='new-task-title' name='title' type='text' required)
                .column
                  label(for='new-task-context') Context
                  input(id='new-task-context' name='context' type='text' required)
              .row
                .column
                  label(for='new-task-choices') Choices
                  input(id='new-task-choices' name='choices' type='text' required)
                .column
                  label(for='new-task-keywords') Keywords
                  input(id='new-task-keywords' name='keywords' type='text' required)
              .row
                .column
                  label(for='new-task-workers-per-task') Workers/task
                  input(id='new-task-workers-per-task' name='workers-per-task' type='text' required)
                .column
                  label(for='new-task-majority-threshold') Majority threshold
                  input(id='new-task-majority-threshold' name='majority-threshold' type='text' required)
              .row
                .column
                  button#add-task Add task
      .row#task-table
        .column
          h4 Tasks
          table
            thead
              tr
                th Title
                th Context
                th Choices
                th Keywords
                th
            tbody
              each task in tasks
                tr
                  td= task.title
                  td= task.context
                  td= task.choices
                  td= task.keywords
                  td
                    button Delete
      .row
        .column
          button.button-outline Exit
        .column
          button Create
    
    include scripts
