html
html
  head
    include metas
    include styles
    //- script(src='/javascripts/new-task.js')
  body
    .container
      h1 Create new campaign
      .row
        .col#new-task-box
            form
              .form-group
              h4 New task
              .form-row
                .col-12.col-md-6.form-group
                  label.col-form-label(for='new-task-title') Title
                  textarea#new-task-title.form-control(name='title' required)
                .col-12.col-md-6.form-group
                  label.col-form-label(for='new-task-context') Context
                  textarea#new-task-context.form-control(name='context' required)
                .col-12.col-md-6.form-group
                  label.col-form-label(for='new-task-choices') Choices
                  textarea#new-task-choices.form-control(name='choices' type='text' required)
                .col-12.col-md-6.form-group
                  label.col-form-label(for='new-task-keywords') Keywords
                  textarea#new-task-keywords.form-control(name='keywords' type='text' required)
              .form-row.form-group
                .col-4.col-md-auto
                  label.col-form-label(for='new-task-workers-per-task') Workers/task
                .col-8.col-md-auto
                  input#new-task-workers-per-task.form-control(name='workers-per-task' type='number' value='1' required)
                .col-4.col-md-auto
                  label.col-form-label(for='new-task-majority-threshold') Majority threshold
                .col-8.col-md-auto
                  input#new-task-majority-threshold.form-control(name='majority-threshold' type='number' value='1' required)
              .form-row
                .col-auto
                  button#add-task.btn.btn-sm.btn-primary.form-control Add task
      .row#task-table
        .col
          h4 Tasks
          table.table.table-responsive
            thead
              tr
                th Title
                th Context
                th Choices
                th Keywords
                th
            tbody
              each task in tasks
                tr
                  td= task.title
                  td= task.context
                  td= task.choices
                  td= task.keywords
                  td
                    button Delete
      .row
        .col-auto
          button.btn.btn-sm.btn-success Create
        .col-auto
          button.btn.btn-sm.btn-danger Exit
    
    include scripts
