<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>
  <body>
    <h1>Name: {{name}}</h1>
    <h1>Id: {{id}}</h1>
    <div>
      <h3>Overview</h3>
      <p>Completed tasks: {{completedTasks}}</p>
      <p>Ongoing tasks: {{ongoingTasks}}</p>
      <p>Valid / executed tasks: {{validExecutedRate}}</p>
    </div>
    <div>
      <h3>Tasks</h3>
      <ul>
        {{#tasks}}
        <li>{{title}} (id: {{id}}): {{result}}{{^result}}None{{/result}}</li>
        {{/tasks}}
      </ul>
    </div>
    <div>
      <h3>Top 10</h3>
      <ol>
        {{#topTenWorkers}}
        <li>{{email}}</li>
        {{/topTenWorkers}}
      </ol>
    </div>
    </style>
  </body>
</html>