doctype html
html
  head
    include metas
    include styles
    link(rel='stylesheet' href='/css/requester-campaign-creation.css')
    //- script(src='/javascripts/new-task.js')
  body
    header
      h1 Create new campaign
    form
      h4 New task
      label(for='new-task-title') Title
      textarea#new-task-title(name='title' required)
      label(for='new-task-context') Context
      textarea#new-task-context(name='context' required)
      label(for='new-task-choices') Choices
      textarea#new-task-choices(name='choices' type='text' required)
      label(for='new-task-keywords') Keywords
      textarea#new-task-keywords(name='keywords' type='text' required)
      label(for='new-task-workers-per-task') Workers/task
      input#new-task-workers-per-task(name='workers-per-task' type='number' value='1' required)
      label(for='new-task-majority-threshold') Majority threshold
      input#new-task-majority-threshold(name='majority-threshold' type='number' value='1' required)
      button Add task
    h4 Tasks
    ul#tasks-list
      each task in tasks
        li.task-hidden
          button() Hide
          button(onclick="() => {
            this.parentNode.classList.remove('task-hidden'); 
            this.parentNode.querySelector('button:not(:hidden)').setAttribute('hidden', true)
            this.setAttribute('hidden', false); 
          }();") Show
          button Delete
          p!= task.title
          p!= task.context
          p= Object.keys(task.choices).join(', ')
          p!= task.keywords
    button Create
    button Exit

    include scripts
