<!DOCTYPE html>
<html lang="en">
  {{> head}}
  <body>
    {{> header}}
    <div class="container">
      <h1>{{name}}</h1>
      <div class="row" id="overview">
        <div class="column">
          <p>Completed tasks: {{completedTasks}}</p>
          <p>Ongoing tasks: {{ongoingTasks}}</p>
          <p>Valid / executed tasks: {{validTasks}} / {{completedTasks}}</p>
          <p>Majority threshold: {{majority_threshold}}</p>
          <p>Workers per task: {{workers_per_task}}</p>
        </div>
      </div>
      <div class="row">
        <div class="column">
          <h3>Tasks results</h3>
          <ul>
            {{#tasks}}
              <li>{{title}}: {{#result}} {{result}} {{/result}} {{^result}} None {{/result}}</li>
            {{/tasks}}
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="column">
          <h3>Top 10</h3>
          <ol>
            {{#topTenWorkers}}
            <li>{{email}} (score: {{score}})</li>
            {{/topTenWorkers}}
          </ol>
        </div>
      </div>
      <a class="button" href="/requester/campaigns">Back</a>
    </div>
    {{> footer}}
  </body>
</html>