doctype html
html
  head
    meta(name='viewport', content='width=device-width,initial-scale=1')
  body
    h1 Create new campaign
    #new-task
      h3 New task
      div
        label(for='new-task-title') Title
        textarea#new-task-title(name='title', required='')
      div
        label(for='new-task-context') Context
        textarea#new-task-context(name='context', required='')
      div
        label(for='new-task-choices') Choices
        textarea#new-task-choices(name='choices', type='text', required='')
      div
        label(for='new-task-keywords') Keywords
        textarea#new-task-keywords(name='keywords', type='text', required='')
      div
        label(for='new-task-workers-per-task') Workers/task
        input#new-task-workers-per-task(name='workers-per-task', type='number', value='1', required='')
      div
        label(for='new-task-majority-threshold') Majority threshold
        input#new-task-majority-threshold(name='majority-threshold', type='number', value='1', required='')
      div
        button#add-task-button Add task
    #campaign-overview
      label(for='campaign-name') Campaign name
      input#campaign-name(type='text', name='campaign-name')
      h3 Tasks
      ul
        li
          p Task 1
        li
          p Task 2
        li
          p Task 3
        li
          p Task 4
        li
          p Task 5
      button#create-campaign-button Create
    style #new-task, #campaign-overview {
      border: solid 1px black;
      margin: 1rem 0;
      padding: 0.5rem;
    }
    script(src='createCampaign.js')
