html
  head
    include stylesheets
    //- script(src='/javascripts/new-task.js')
  body
    h1 Create new campaign
    ul#tasks-list
      li#task-template.task(hidden)
        label.task-title
        label.task-context
        label.task-choices
        label.task-keyworkds
    br
    input(type='text' placeholder='title' id='new-title' required)
    input(type='text' placeholder='context' id='new-context' required)
    input(type='text' placeholder='choice; another choice' id='new-choices' required)
    input(type='text' placeholder='keyword another_keyword' id='new-keywords' required)
    button#add-task Add task
    br
    input(type='numeric' placeholder='workers per task' id='workers-per-task' required)
    br
    input(type='numeric' placeholder='task majority threshold' id='task-majority-threshold' required)
    br
    button Exit
    button Create
