doctype html
html
  head
    meta(name='viewport', content='width=device-width,initial-scale=1')
  body
    h1 Request verification
    p Please wait for verification.
    p You will receive a confirmation email.
