doctype html
html
  head
    meta(name='viewport', content='width=device-width,initial-scale=1')
  body
    h1 Campaigns
    ul
      li
        a(href='requester-campaign-report.html') Campaign 1
      li
        a(href='requester-campaign-report.html') Campaign 2
      li
        a(href='requester-campaign-report.html') Campaign 3
      li
        a(href='requester-campaign-report.html') Campaign 4
      li
        a(href='requester-campaign-report.html') Campaign 5
      li
        a(href='requester-campaign-report.html') Campaign 6
      li
        a(href='requester-campaign-report.html') Campaign 7
    button(onclick='window.location.replace('requester-campaign-creation.html')') Create campaign
    style div {
      border: solid 1px black;
      margin: 1rem 0;
      padding: 0.5rem;
    }
