doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1= title
    p Please wait for verification by one of our admins.
    p You will receive a confirmation email.
