<!DOCTYPE html>
<html lang="en">
  {{> head}}
  <body>
    <h1>Signup</h1>
    <form action="signup" method="POST">
      <div>
        <label for="email">Email</label>
        <input id="email" type="text" placeholder="Email" name="email" required="">
      </div>
      <div>
        <label for="password">Password</label>
        <input id="password" type="text" placeholder="Password" name="password" required="">
      </div>
      <div>
        <input type="radio" id="worker" name="user" value="worker" required>
        <label for="worker">Worker</label>
        <input type="radio" id="requester" name="user" value="requester" required>
        <label for="requester">Requester</label>
      </div>
      <div>
        <button type="submit">Signup</button>
      </div>
    </form>
  </body>
</html>