doctype html
html
  head
    meta(name='viewport', content='width=device-width,initial-scale=1')
  body
    h1 Signup
    form(action='#')
      div
        label(for='email') Email
        input#email(type='text', placeholder='Email', name='email', required='')
      div
        label(for='password') Password
        input#password(type='text', placeholder='Password', name='password', required='')
      div
        button(type='submit') Signup
