<!DOCTYPE html>
<html lang="en">
{{> head}}
  <body>
    {{> header}}
    <div class="container" id="body">
      <h1>Signup</h1>
      <form action="signup" method="POST" id="signup-form">
        <div class="row">
          <div class="columns six">
            <label for="email">Email</label>
            <input class="u-full-width" id="email" type="email" placeholder="Email" name="email" required>
          </div>
          <div class="columns six">
            <label for="password">Password</label>
            <input class="u-full-width" id="password" type="password" placeholder="Password" name="password" required>
          </div>
        </div>
        <div class="row">
          <div class="columns three">
            <label for="worker">
              <input type="radio" id="worker" name="user" value="worker" required>
              <span class="label-body"> Worker </span>
            </label>
          </div>
          <div class="columns four">
            <label for="requester">
              <input type="radio" id="requester" name="user" value="requester" required>
              <span class="label-body"> Requester </span>
            </label>
          </div>
        </div>
      </form>
      <div class="row">
        <button class="button-primary" form="signup-form" type="submit">Signup</button>
      </div>
      <div class="row">
        <a href="/login" class="button">Login</a>
      </div>
    </div>
  </body>
  {{> footer}}
</html>