<div id="worker-profile">
  <h4>Profile</h4>
  <div class="worker-profile">
    <table class="u-full-width">
      <thead>
        <tr>
          <th>Keyword</th>
          <th>score</th>
        </tr>
      </thead>
      <tbody>
        {{#profile_keywords}}
          <tr>
            <td>{{description}}</td>
            <td>{{level}}</td>
          </tr>
        {{/profile_keywords}}
        </tbody>
      </table>
    </div>
</div>