<!DOCTYPE html>
<html lang="en">
  {{> head}}
  <body>
    {{> header}}
      <h1>
          No more tasks for you in this campaign
      </h1>
    <button onclick="window.location = '/worker/campaigns'">Back</button>
    {{> footer}}
  </body>
</html>