<div id="reports">
  <h4>Campaigns reports</h4>
  <div class="campaign-report">
    <table>
      <thead>
        <tr>
          <th>Campaign name</th>
          <th>Executed tasks</th>
          <th>Valid tasks</th>
          <th>My ranking</th>
        </tr>
      </thead>
      <tbody>
        {{#reports.campaigns}}
          <tr>
            <td>{{campaign_name}}</td>
            <td>{{executed_tasks}}</td>
            <td>{{valid_tasks}}</td>
            <td>{{ranking}}</td>
          </tr>
        {{/reports.campaigns}}
        </tbody>
      </table>
    </div>
</div>