doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width,initial-scale=1,shrink-to-fit=no')
  body
    div
      h4 My Ranking
      p 1 / 10
    div
      h4 Valid / Executed Tasks
      ul
        li.valid Task 1
        li.invalid Task 2
        li.valid Task 3
        li.valid Task 4
        li.invalid Task 5
    style div {
        border: solid 1px black;
        margin: 1rem;
        padding: 0.5rem;
      }

      li.valid {
        background-color: green;
      }
      li.invalid {
        background-color: pink;
      }
