doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width,initial-scale=1,shrink-to-fit=no')
  body
    #my-campaigns
      h4 Ongoing Campaigns
      ul
        li
          a(href='worker-task.html') Campaign 1
        li
          a(href='worker-task.html') Campaign 2
        li
          a(href='worker-task.html') Campaign 3
    #other-campaigns
      h4 Apply to Campaign
      ul
        li
          a(href='') Campaign 4
        li
          a(href='') Campaign 5
        li
          a(href='') Campaign 6
    style div {
      border: solid 1px black;
      margin: 1rem;
      padding: 0.5rem;
    }
