doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width,initial-scale=1,shrink-to-fit=no')
  body
    form(action='worker-campaigns.html', method='GET')
      #task-description
        p#task-title(name='title', required='')
          | Valuta il \"sentiment\" del messaggio sottostante.
          br
          | Sentiment
          b positivo
          | : il messaggio esprime un giudizio positivo rispetto all'argomento trattatp
          br
          | Sentiment
          b negativo
          | : il messaggio esprime un giudizio negativo rispetto all'argomento trattato
          br
          | Sentiment
          b neutro
          | (caso 1): il messaggio NON esprime un giudizio positivo o negativo rispetto all'argomento trattato
          br
          | Sentiment
          b neutro
          | (caso 2): il messaggio esprime SIA un giudizio positivo SIA un giudizio negativo rispetto all'argomento trattato
          br
          br
          | Ricorda che l'obiettivo è valutare il sentiment espresso dall'autore e non esprimere il proprio sentiment rispetto al messaggio.
        p#task-context(name='context', required='') Louis Armstrong, a sad and powerful voice
      #task-choices
        input#choice1(type='radio', name='choice', value='0', required='')
        label(for='choice1') Neutro
        input#choice1(type='radio', name='choice', value='1', required='')
        label(for='choice1') Positivo
        input#choice1(type='radio', name='choice', value='-1', required='')
        label(for='choice1') Negativo
      button(type='submit') Submit
