<!DOCTYPE html>
<html lang="en">
  {{> head}}
  <body>
    <form action="/worker/campaign/{{task.campaignId}}/task/{{task.id}}/choice" method="POST">
      <div id="task-description">
        <p id="task-title" name="title">{{task.name}}</p>
        <p id="task-context" name="context">{{task.context}}</p>
      </div>
      <div id="task-choices">
        {{#task.choices}}
          <input type="radio" id="{{htmlRadioId}}" name="choice" value="{{value}}" required>
          <label for="{{htmlRadioId}}">{{name}}</label>
        {{/task.choices}}
      </div>
      <button type="submit">Submit</button>
      <a href="/worker/campaigns">Back</button>
    </form>
  </body>
</html>