<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  </head>
  <body>
    <div>
      <h4>My Ranking</h4>
      <p>1 / 10</p>
    </div>
    <div>
      <h4>Valid / Executed Tasks</h4>
      <ul>
        <li class="valid">Task 1</li>
        <li class="invalid">Task 2</li>
        <li class="valid">Task 3</li>
        <li class="valid">Task 4</li>
        <li class="invalid">Task 5</li>
      </ul>
    </div>
  </body>
</html>