<div id="reports">
  <h4>Campaigns reports</h4>
  {{#reports.campaigns}}
    <div class="campaign-report">
      <h5>Campaign: {{campaign_name}}</h5>
      <p>executed tasks: {{executed_tasks}}</p>
      <p>valid tasks: {{valid_tasks}}</p>
      <p>Ranking: {{ranking}}</p>
    </div>
  {{/reports.campaigns}}
</div>