.row .column {
    /*border: solid black 1px;*/
    margin: 0 0.1em;
    padding: 0.1em;
    padding-left: 0;
}

.row .column .column {
    padding-left: 0;
}

.row .column > * {
    margin: auto;
}

.row {
    margin: 1em 0;
    /*margin-bottom: 0.3em;*/
}

#new-task-box {
    /*margin-top: 1em;*/
    /*margin-bottom: 1.5em;*/
    /*padding-left: 1em;*/
    /*border-left: .3rem solid #9b4dca*/
}

#new-task-box form {
    margin-bottom: 0;
}

#new-task-box .row {
    margin: 0.1em 0;
    width: 100%;
}

h4 {
    margin: 0.2em 0;
}

#new-task-box button {
    margin-top: 0.7em;
}
