div[class^='container'] .row div[class^='col'] {
    /*border: solid yellow 1px;*/
}

h1 {
    margin-bottom: 0.6em;
}

/*
#task-choices > div{
    margin-bottom: 1em;
}
*/

p {
    margin-bottom: 0;
}
